# Compiled class files
*.class

# Log files
*.log

# Project output directories
/bin/
/out/

# IDE specific files and directories
.idea/
*.iml
.vscode/
.settings/
.project/
.classpath
/nbproject/
/build/
/dist/
